# Terraform
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Secrets and variables
terraform.tfvars
*.auto.tfvars
secrets.tfvars

# Local files
*.exe
*.zip
*.log

# IDE
.vscode/
.idea/
*.swp
.DS_Store
Thumbs.db

*edge*
*registry.terraform.io*